name: Ð¡I

on:
  push:
    branches: [ master ]
jobs:

  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: 'just-a-placeholder-so-we-dont-get-errors'
      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
      - name: Generate the package
        run: mvn clean install -Ddb.postgres.graduatework.url=jdbc:postgresql://84.252.73.203:5438/graduatework -Ddb.postgres.graduatework.username=graduatework -Ddb.postgres.graduatework.password=graduatework
      - name: Deploy
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'ENDSSH'
          cd /root/
          rm -rf graduatework-0.0.1-SNAPSHOT.jar
          ENDSSH
          scp ./server/target/graduatework-0.0.1-SNAPSHOT.jar ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/home/graduatework-0.0.1-SNAPSHOT.jar
